<Calculator />

<footer>
   <p>Adapted from <a href="https://codepen.io/robertlluberes/pen/GjqQJY">a codespan</a> by <a href="https://github.com/robertlluberes" target="_blank">Robert Lluberes</a></p>
</footer>


{{outlet}}
